/* Will be compiled down to a single stylesheet with your sass files */

.login {
  background: -moz-radial-gradient(center, ellipse cover, #ffc642 27%, #fc9b0a 83%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(27%,#ffc642), color-stop(83%,#fc9b0a)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ffc642 27%,#fc9b0a 83%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ffc642 27%,#fc9b0a 83%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffc642 27%,#fc9b0a 83%); /* IE10+ */
  background: radial-gradient(ellipse at center, #ffc642 27%,#fc9b0a 83%); /* W3C */
}

.sosie{
  font-family: 'Sonsie One';
  line-height: 40pt;
  text-shadow:0px 0px 3px #000;
}

.container-center{
  position: absolute;
  -webkit-transform: translate(0, -40%);
  top: 50%;
  height: 60%;
  width: 100%
}

.padding-center{
  padding: 0 10px 0 10px;
}

.text-center {
    text-align: center;
}

.form-field {
   border: 1px solid #737373;
   background: #ffffff;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:10px;
   max-width:400px;
   width:80%;
   display: block;
   margin: 20px auto;
   font-size: 13pt;
}

.loginform .submit {
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);

    background-color:#768d87;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}
.loginform .submit:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color:#6c7c7c;
}
.loginform .submit:active {
    position:relative;
    top:1px;
}

.bordered {
  -moz-box-shadow: inset 20px 0 0 0;
  -webkit-box-shadow: inset 20px 0 0 0;
  box-shadow: inset 20px 0 0 0;
}

.dark {
  background : rgb(70, 70, 70);
}

.user-box {
  height: 35%;
  border-bottom: solid 10px blue;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(24%,#2b2b2b), color-stop(100%,#7c7c7c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000000 0%,#2b2b2b 24%,#7c7c7c 100%);
  background: linear-gradient(to bottom, #000000 0%,#2b2b2b 24%,#7c7c7c 100%); /* W3C */
}

.center{
  overflow: hidden;
  white-space: nowrap;
}

.center:before {
  content: "";
  width: 1px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.center-inside {
   vertical-align: middle;
   display: inline-block;
}

.layer-component {
  position : relative;
}

.layer-component canvas {
  position: absolute;
  left : 0;
  top : 0;
}

.frame {
 white-space: normal;
 border: 4px solid #fff;
 background-color: #fff;
 -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.25);
 box-shadow: 0 2px 1px rgba(0,0,0,.25);
 width: 80px;
 height: 80px;
}
.left {
  text-align: center;
}

.main-search {
  height: 48px;
  padding: 0!important;
}

.main-search .input-text {
  height: auto;
  padding: 8px;
  color: white;
  border-bottom: 1px solid white;
  margin: 0;
}

.main-search .input-text::-webkit-input-placeholder{
  color: rgba(255,255,255, 0.5);
  font-size: 11px;
  vertical-align: baseline;
  bottom: 0;
}

.main-search .input-pretty {
  margin-bottom: 4px;
}
.main-search .input-pretty:before,
.main-search .input-pretty:after{
  background: white;
  width: 1px;
}


