<!DOCTYPE html>
<body >
    <div class="page">

        <header class="action-bar fixed-top">
          <a href="javascript: void(0);" class="app-icon action" data-ignore="true">
            <i class="icon-fries"></i>
          </a>

          <h1 class="title">Title</h1>

          <!-- Add action buttons here -->

        </header>

        <div class="content">

            <div ng-style="{background : myPixel}" drawing my-pixel="pixel" hm-touch="move($event)" hm-drag="move($event)"></div>

        </div>

        <div class="dialogs">
          <!-- This is a requried container for your dialogs. All dialogs that you want to display in this page go here -->
        </div>

    </div>
</body>
