<!DOCTYPE html>
<body>
    <div class="page">

        <div class="content login">
          <form class="loginform container-center text-center" ng-submit="submit()">
            <h1 class="sosie">Login</h1>
            <input type="text" class="form-field" ng-model="user.username" placeholder="username"/>
            <input type="password" class="form-field" ng-model="user.password" placeholder="username"/>
            <button type="submit" class="submit">Iniciar sesión</button>
          </form>
        </div>

        <div class="dialogs">
          <!-- This is a requried container for your dialogs. All dialogs that you want to display in this page go here -->
        </div>

    </div>
</body>
