<body >
    <div class="page">

        <header class="action-bar fixed-top">
          <a class="app-icon action" data-ignore="true">
            <i class="icon-fries"></i>
          </a>

          <h1 class="title">Title</h1>
          <ul class="actions pull-right">
            <li><a href="/#/addfriend" class="action" title="Add friend"><i class="icon-add-person"></i></a></li>

          </ul>

          <!-- Add action buttons here -->

        </header>

        <div class="content">
            <ul class="list" ng-controller="listCtrl">
              <li ng-style="{'-webkit-box-shadow' : 'inset 20px 0 0 0 ' + user.current_status.color}" class="list-item-two-lines selectable bordered" ng-repeat="user in users" hm-tap="go('/users/' + user.username)">
                <h3>{{user.name || user.username}}</h3>
                <p>{{user.current_status.status}}</p>
              </li>
            </ul>
        </div>

        <div class="dialogs">
          <!-- This is a requried container for your dialogs. All dialogs that you want to display in this page go here -->
        </div>

    </div>
</body>
