<body >
  <div class="page">

    <header class="action-bar fixed-top  text-center">
    <strong class="sosie">Paso 1: Selecciona estado</strong>
    </header>

    <div class="content">
      <div my-Swipe class="bottom-container swipe" id="slider">
        <div class='swipe-wrap'>
          <div>
            <ul class="list main-list" ng-controller="listCtrl">
              <li ng-style="{'-webkit-box-shadow' : 'inset 20px 0 0 0 ' + user.current_status.color}" class="list-item-two-lines selectable bordered" ng-repeat="user in users" hm-tap="go('/users/' + user.username)">
                <h3>{{user.name || user.username}}</h3>
                <p>{{user.current_status.status}}</p>
              </li>
            </ul>
          </div>
          <div>
            <ul class="list main-list" ng-controller="listCtrl">
              <li ng-style="{'-webkit-box-shadow' : 'inset 20px 0 0 0 ' + user.current_status.color}" class="list-item-two-lines selectable bordered" ng-repeat="user in users" hm-tap="go('/users/' + user.username)">
                <h3>{{user.name || user.username}}</h3>
                <p>{{user.current_status.status}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bottom-send">
        <button class="btn">Siguiente</button>
      </div>
    </div>


    <div class="dialogs">
      <!-- This is a requried container for your dialogs. All dialogs that you want to display in this page go here -->
    </div>

  </div>
</body>
